 main {
   width: 1000px;
   margin: auto;
 }

 table,
 td {
   border: 1px solid pink;
   padding: 10px;
   vertical-align: middle;
 }

 table {
   border-collapse: collapse;
   width: 100%;
   text-align: center;
 }

 table img {
   border-radius: 50%;
   width: 100px;
 }

 #order {
   color: #000;
 }